<p id="notice"><%= notice %></p>

<h1>Товары</h1>

<% if admin_signed_in? %>
<%= button_to 'Новый товар', new_item_path, :class => "btn btn-primary btn-lg", :method => :get %>
<% end %>

<div class="row">
  <% @items.each do |item| %>
  
      <div class="col-md-4", style= "text-align: center;">
        <%= link_to(item_path(item)) do %>
          <%= image_tag item.image(:medium) %>
          <h3 class="textlink"><%= item.title %></h3>
        <% end %>
        <p class="price">
          <%= number_to_currency(item.price) %>
        </p>
        <p>
          <%= button_to 'Добавить в корзину', line_items_path(:item_id => item) , :class => "btn btn-default" %>
        </p>
        <% if admin_signed_in? %>
        <p>
          <%= link_to 'Редактировать', edit_item_path(item), :class => "btn btn-default" %>
        </p>
        <p>
          <%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Вы уверены?' },:class => "btn btn-default" %>
        </p>
        <% end %>
      </div>
  <% end %>
</div>



