<p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-md-3">
      <dl>
          <dt>Категория:</dt>
          <dd><%= @item.category.title %></dd>

          <dt>Название:</dt>
          <dd><%= @item.title %></dd>

          <dt>Описание:</dt>
          <dd><%= simple_format(@item.text) %></dd>

          <dt>Цена:</dt>
         <dd><%= number_to_currency(@item.price) %></dd>
      </dl>
      </div>

      <div class="col-md-3">
      <%= link_to image_tag(@item.image.url(:large)), @item.image.url %></div>
    </div>


<%= link_to 'Назад', @item.category, :class => "btn btn-default" %>
<%= button_to 'Добавить в корзину', line_items_path(:item_id => @item) , :class => "btn btn-default" %>
<% if admin_signed_in? %>
  <%= link_to 'Редактировать', edit_item_path(@item), :class => "btn btn-default" %> 
  <%= link_to 'Удалить', @item, method: :delete, data: { confirm: 'Вы уверены?' },:class => "btn btn-default" %>
<% end %>
