
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @item.category.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= simple_format(@item.text) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image %>
</p>


<%= link_to 'Back', items_path, :class => "btn btn-default" %>
<% if admin_signed_in? %>
<%= link_to 'Редактировать', edit_item_path(@item), :class => "btn btn-default" %> |
<%= link_to 'Удалить', @item, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-default" %>
<% end %>
