
<p id="notice"><%= notice %></p>

<p>
  <strong>Категория:</strong>
  <%= @item.category.title %>
</p>

<p>
  <strong>Название:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= simple_format(@item.text) %>
</p>

<p>
  <strong>Цена:</strong>
  <%= number_to_currency(@item.price) %>
</p>

<p>
  <strong>Изображение:</strong>
  <%= link_to image_tag(@item.image.url(:medium)), @item.image.url %>
</p>


<%= link_to 'Назад', items_path, :class => "btn btn-default" %>
<% if admin_signed_in? %>
<%= link_to 'Редактировать', edit_item_path(@item), :class => "btn btn-default" %> |
<%= link_to 'Удалить', @item, method: :delete, data: { confirm: 'Вы уверены?' },:class => "btn btn-default" %>
<% end %>
