<p id="notice"><%= notice %></p>

<h1>Категории</h1>
<%= button_to 'Новая категория', new_category_path, :class => "btn btn-primary btn-lg", :method => :get %>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
     
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Открыть', category %></td>
        <td><%= link_to 'Редактировать', edit_category_path(category) %></td>
        <td><%= link_to 'удалить', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




