<div class="row">
	<p id="notice"><%= notice %></p>

	<div class="span9">
 	 	<h1>Категория:
 	 	<%= @category.title %></h1>
	</div>

	<% @category.items.each do |item| %>
		<div class="col-md-4", style= "text-align: center;">
			<%= link_to(item_path(item)) do %>
				<%= image_tag item.image(:medium) %>
				<h3 class="textlink"><%= item.title %></h3>
			<% end %>

			<p class="price">
				<%= number_to_currency(item.price) %>
			</p>
			<p>
				<%= link_to "Добавить в корзину", item_path(item), :class => "btn btn-default" %>
			</p>
			<p>
			<%= button_to 'Add to Cart', line_items_path(:item_id => item) %>
			</p>
			<% if admin_signed_in? %>
        <p>
          <%= link_to 'Редактировать', edit_item_path(item), :class => "btn btn-default" %>
        </p>
        <p>
          <%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Вы уверены?' },:class => "btn btn-default" %>
        </p>
        <% end %>
		</div>
	<% end %>
</div>
<hr>
	<div class>
	
	<%= link_to 'Назад', categories_path, :class => "btn btn-default" %>
	<% if admin_signed_in? %>
	<%= link_to 'Редактировать категорию', edit_category_path(@category), :class => "btn btn-default" %> |
	<%= link_to 'Новый товар', new_category_item_path(@category), :class => "btn btn-default"  %>
	<% end %>
	</div>
